<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.circle_line_progressbar">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ColorMatrixActivity">
        </activity>
        <activity android:name=".activity.Open_DuffColorFilterActivity">
        </activity>
        <activity android:name=".activity.ShowTextActivity">
        </activity>
        <activity android:name=".activity.BreakLineActivity">
        </activity>
        <activity android:name=".activity.MaskFilterActivity">
        </activity>
        <activity android:name=".activity.BlurMaskFilterViewActivity">
        </activity>
        <activity android:name=".activity.PathEffectViewActivity">
        </activity>
        <activity android:name=".activity.EcgViewActivity">
        </activity>
        <activity android:name=".activity.ShaderViewActivity">
        </activity>
        <activity android:name=".activity.BrickViewActivity">
        </activity>
        <activity android:name=".activity.LinearShaderViewActivity">
        </activity>
        <activity android:name=".activity.ReflectViewActivity">
        </activity>
        <activity android:name=".activity.DreamEffectViewActivity">
        </activity>
        <activity android:name=".activity.DreamEffectView_2Activity">
        </activity>
        <activity android:name=".activity.DreamEffectView_3Activity">
        </activity>
        <activity android:name=".activity.ShaderView_2Activity">
        </activity>
        <activity android:name=".activity.MatrixViewActivity">
        </activity>
        <activity android:name=".activity.MatrixImageViewActivity">
        </activity>
        <activity android:name=".activity.BitmapMeshViewActivity">
        </activity>
        <activity android:name=".activity.CanvasViewActivity">
        </activity>
        <activity android:name=".activity.PathViewActivity">
        </activity>
        <activity android:name=".activity.BezierViewActivity">
        </activity>
        <activity android:name=".activity.WaveViewActivity">
        </activity>
        <activity android:name=".activity.PathView_2Activity">
        </activity>
        <activity android:name=".activity.LayerViewActivity">
        </activity>
        <activity android:name=".activity.LayerView_2Activity">
        </activity>
        <activity android:name=".activity.ImgViewActivity">
        </activity>
        <activity android:name=".activity.IconViewActivity">
        </activity>
        <activity android:name=".activity.SquareActivity">
        </activity>
        <activity android:name=".activity.LifeCycleViewActivity">
        </activity>
        <activity android:name=".activity.ComplexActivity">
        </activity>
        <activity android:name=".activity.Complex2Activity">
        </activity>
    </application>
</manifest>